.main{
  width: calc(100vw - 300px);
  min-width: 680px;
  position: relative;
  &__group{
    background-color: $color-common-white;
    position: relative;
    border-style: solid;
    border-width: medium;
    border: #eeeeee;
    .group-name{
      color: #333333;
      font-size: 20px;
      padding: 35px 40px 15px 40px;
    }
    .group-member{
      color: $color-main-whiteGray;
      font-size: 12px;
      padding: 0 40px 0 40px;
      ul{
        display: inline-block;
      }
      li{
        display: inline-block;
      }
    }
    .group-edit{
      color: $color-common-button;
      position: absolute;
      line-height: 40px;
      top: 28px;
      right: 40px;
      box-sizing: border-box;
      border: solid 1.5px;
      padding: 0 20px 0 20px;
    }
  }

  &__messages{
    background-color: #F5F5F5;
    position: absolute;
    width: 100%;
    height: calc(100% - 98px - 90px);
    overflow-y: scroll;
    .message{
      padding: 40px 0 0 40px;
      &__user{
        font-size: 16px;
        font-weight: bold;
      }
      &__date{
        color: $color-main-whiteGray;
        font-size: 12px;
      }
      &__text{
        color: $color-main-message;
        font-size: 14px;
        margin-top: 10px;
      }
    }
  }
  &__send{
    background-color: #DCDCDC;
    position: absolute;
    width: 100%;
    bottom: 0;
    .input-area{
      display: inline-block;
      width: calc(100% - 80px);
      padding: 20px 40px 20px 40px;
      &__text{
        position: relative;
        display: inline-block;
        width: calc(100% - 115px);
        input.text-box{
          width: 100%;
          height: 50px;
          box-sizing: border-box;
        }
        input.text-box::placeholder{
          color: $color-main-message;
          padding-left: 10px;
          font-size: 16px;
        }
        label{
          position: absolute;
          line-height: 50px;
          right: 10px;
          bottom: 0;
        }
        input.image-form{
          display: none;
        }
      }
      &__button{
        background-color: $color-common-button;
        color: $color-common-white;
        float: right;
        text-align: center;
        line-height: 50px;
        width: 100px;
      }
    }
  }
}
